$col-background: #4B4E53;
$col-outlines: black;
$col-text: white;

$col-highlight: rgba(131,255,255,1);
$col-primary: rgba(250,176,255,1);

$skill-html: 80%;
$skill-css: '';
$skill-js: '';

$cube-dim: 190px; 