$col-background: #121212; //#4B4E53;
$col-outlines: #404040;
$col-text: white;

$col-highlight: rgba(131,255,255,1);
$col-primary: rgba(250,176,255,1);
$col-accent: rgba(162,255,209,1);

$skill-html: 80%;
$skill-css: '';
$skill-js: '';

$cube-dim: 190px; 