.contact-panel {
    border: 1px solid white;
    color: white;
    display: grid; 
    grid-template-columns: 1fr 10rem;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "about about"
        "contact contact";
    grid-gap: 10px 0px;
    height: 100vh;
    padding: 10px;
}

.character-sheet {
    grid-area: about;
    display: flex; 
    flex-direction: column;
    padding: 10px;
    border: 1px solid white;
    border-left: 30px solid white;
    line-height: 1.5rem;
}

.about {
    grid-column-start: span 2;
    p {
        margin-bottom: 10px;
    }
    h3 {
        padding-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 1.2rem;
    }
}

.socials {
    grid-area: socials; 
    height: 100%; 
    width: 100%;
    border: 1px solid $col-accent;
    border-top: 30px solid $col-accent;
    background-color: $col-accent;
}

.contact-info {
    display: flex; 
    flex-direction: column;
    padding-top: 20px;
    grid-area: contact;
    height: 100%; 
    width: 100%;
    border: 1px solid white;
    border-right: 50px solid white;
    h3 {
        position: relative;
        margin-bottom: 10px;
        letter-spacing: .7rem;
        padding-left: 5px;
        border-left: 3rem solid white;
        @media screen and (min-width: 768px) {
            border-left: 7rem solid white;
            letter-spacing: 1.2rem;
        }
        transition: border-left .5s ease, color .5s ease;
        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background-color: white;
            transition: all 0.5s ease;
        }
        &:hover {
            color: black;
            border-left: 0rem solid white;
        }
        &:hover:after {
            left: 0;
            width: 100%;
        }
    }
}
