body {
    height: 100vh;
    width: 100%;
    padding: .5rem;
    //color: #4B4E53;
    background-color: #4B4E53;// #E4A0B7;
}

h1 {
    margin: 0;
}

.project-grid {
    display: grid; 
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-gap: 15px 15px;
    // justify-content: center;
}

.project {
    display: flex; 
    flex-direction: column;
    // justify-content: center;
    border: 2px solid black; 
    border-radius: 10px;
    padding: 20px 10px;
    position: relative;
    overflow: hidden;
    // align-items: center;
    color: white;
    // &:before {
    //     position:absolute;
    //     content: '';
    //     bottom: 0;
    //     left: 0;
    //     border-bottom: 200px solid #192841;
    //     //@warn: 292px solid transparent;
    //     border-right: 292px solid transparent;
    //     z-index: -99;
    // }
}

.title {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    hr {
        width: 100%;
    }
}

.header {
    border-left: 100px solid orange;
    margin: 20px 0;
}

.project-card {
    display: flex; 
    justify-content: center;
}

.outer-wrapper {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.site-nav {
    ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        font-size: .7rem;
        justify-content: space-evenly;
        margin: 10px 0px;
        li {
            padding: 7px; 
            background-color: rgba(250,176,255,1) ; //#E18AAA
            box-shadow: -4px 4px 0 0px rgba(131,255,255,1) ;
            color: #4B4E53;
            font-weight: 600;
            &:hover {
                color: white;
            }
        }
        // li {
        //     position: relative;
        // }
        // li:before{
        //     content:" ";
        //     width: 0;
        //     height: 0;
        //     border-left: 5px solid transparent;
        //     border-right: 5px solid transparent;
        //     border-bottom: 10px solid #E4A0B7;
        //     position:absolute;
        //     left: -15px;
        //     // top:5px;
        //     margin-left:10px;
        //     z-index: -99;
        // }
    }
}

.my-card {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
    // max-width: 315px;
    background: linear-gradient(90deg, rgba(162,255,209,1) 0%, rgba(131,255,255,1) 50%, rgba(250,176,255,1) 100%), url('https://previews.dropbox.com/p/thumb/ABMjxDWoTXqcLBJ26dQAlZ7ZrzkYNT085HTsJuP6fKHkBw1SOhc23PA0C88awbDAs35oAXg8XopgrJDapQUP6M64WmLNkHJOW3eDCu0d1eAel8p5mGGXRakhoyglcrbd5iEs-20sybX3IS0JzeIhF09vF6nC5iVaPVTRsszxqvLVmO-0009F-Y7Jvv1WVElR5LmyuWe4Gjdf0OPPWvI9F1z4-Isy_Y9AqIggGnDnjmLGO7XL5GBgklNfd1KPiHrPc7UhTdG6XUVtS9-G9bdD_k_SycF1Pmbiyav3vOmFcv6FUux4d7lsnSpTMy18S8p3G8zjJxnHetsYZYcTcBNnTAUif0CW7yNt-NWtQDA2uTPQi4f-W9pEK_bCJPc1vMlqPwu_goUxciZVEUNUZ1SimuuBobe9w24UqHaLQJU_FJQjnwzzodPfRxhPtOS0ck0jPXw/p.jpeg?fv_content=true&size_mode=5');
    background-blend-mode: overlay;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
   // box-shadow: 0px 2px 0px 0px rgba(250,176,255,1);
    position: relative; 
}


.left {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.skills {
    color: white;
    p {
        font-size: .8rem;
        font-weight: 800;
    }
}

.skills-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    hr {
        color: white;
        width: 75%;
    }
}

.code-pen,
.github,
.twitter,
.linkedin {
    width: 35px;
    height: 35px;
    fill: rgba(255, 255, 255, .7);
    transition: fill .5s linear;
    &:hover {
        fill: rgba(255, 255, 255, 1);
    }
}

.github,
.twitter,
.linkedin {
    margin-top: 10px;
}

.upper-wrapper {
    display: flex;
    justify-content: space-between;
}

.my-links {
    display: flex; 
    flex-direction: column;
}

.name-title {
    writing-mode: vertical-rl;
    color: rgba(255, 255, 255, .9);
    h3 {
        font-size: .9rem;
    }
    h1 {
        font-size: 1.7rem;
    }
}