body {
    height: 100vh;
    padding: .5rem;
    background-color: $col-background;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 1rem;
}

h3 {
    letter-spacing: 1.2rem;
}

a {
    text-decoration: none;
    color: white;
}

.project-grid {
    display: grid; 
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-gap: 15px 15px;
}

.project {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    position: relative;
    color: white;
    line-height: 1.3rem;
}

.title {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    hr {
        width: 100%;
    }
}

.header {
    background-color: white;
    width: 100%;
    margin: 10px 0px 20px 0px;
}

.project-card {
    display: flex; 
    justify-content: center;
}

.outer-wrapper {
    border: 1px solid $col-outlines;
    padding: 5px;
}

.show-lg {
    display: none;
}

.site-nav {
    ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        font-size: .7rem;
        justify-content: space-between;
        a:hover {
            color: black;
        }
        // li {
        //     padding: 7px; 
        //     border: 1px solid $col-text;
        //     color: white;
        //     font-weight: 600;
        //     transition: background-color .5s ease-in, color .5s ease-in;
        //     &:hover {
        //         color: black;
        //         background-color: $col-text;
        //     }
        // }
        .home {
            margin-right: 10px;
        }
    }
}

.archive-nav {
    li {
        a {padding: 7px; }
        padding: 7px; 
        border: 1px solid $col-text;
        color: white;
        font-weight: 600;
        transition: background-color .5s ease-in, color .5s ease-in;
        &:hover {
            color: black;
            background-color: $col-text;
        }
    }
}

.archive-link {
    @media screen and (min-width: 1024px) {
        height: 28px; // temp nav lineup fix
    }
    padding: 7px; 
    a {padding: 7px; }
    border: 1px solid $col-text;
    color: white;
    font-weight: 600;
    transition: background-color .5s ease-in, color .5s ease-in;
    &:hover {
        color: black;
        background-color: $col-text;
    }
}

.my-card {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
    background: linear-gradient(90deg, rgba(162,255,209,1) 0%, rgba(131,255,255,1) 50%, rgba(250,176,255,1) 100%), url(https://previews.dropbox.com/p/thumb/ABQ10tr9lkodAdAciZ0qPBAj8MeRO2JKtxTjhjBe9FkrFF3lUuvjNB7qKPLVfd7kBUfjxM445R7Pnb05gukXQT8D6rGBm1sRwfym2syepNV5b6WcO2D1cJeER32daXXv6mCiTApvkOEQ_3a1Pb8TwIk43BMSK6sWsAHCpzC1ZXaMu2mA7BzWsQwdLaWbcDb6AEfBhj3YfQ6u7WSdKi8hi1mrI9EZ5AIxMbIxWRRZrYrwI9FY2OQ6wIsXCs9oXakl19SuqMzuYy6UJivtfrXQt3rEB6-MS2jHQeas6vNMLC1LOLcTls8KWCPMPOi-0hWUJGQ9TFhWGABvJEvmofuT6_eULNn5MbVqSlJiJejLr3_-zIPxrfdABRAsUC78B5-EVWCxco9e1MHwbLl7jSunHCLmLtZH5TVgNufxHUqHBbt6dusa8tEpsDaKiNRyE8CSeGA/p.jpeg?fv_content=true&size_mode=5); //url(../../img/IMG_0195.JPG);
    background-blend-mode: overlay;
    background-size: cover;
    padding: 10px;
    position: relative; 
}


.left {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.skills {
    color: white;
    p {
        font-size: .8rem;
        font-weight: 800;
    }
}

.skills-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    hr {
        color: white;
        width: 75%;
    }
}

svg {
    width: 35px;
    height: 35px;
    fill: rgba(255, 255, 255, .7);
    transition: fill .5s linear;
    &:hover {
        fill: rgba(255, 255, 255, 1);
    }
}

.github,
.twitter,
.linkedin {
    margin-top: 10px;
}

.upper-wrapper {
    display: flex;
    justify-content: space-between;
}

.my-links {
    display: flex; 
    flex-direction: column;
}

.name-title {
    writing-mode: vertical-rl;
    color: rgba(255, 255, 255, .9);
    h3 {
        font-size: .9rem;
    }
    h1 {
        font-size: 1.7rem;
    }
}

.archive-cube, 
.cube {
    a {
        text-align: center;
    }
}

.archive-cube {
    a {font-size: .8rem;}
    
}


@media screen and (min-width: 768px) {
    .project-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        @media screen and (max-height: 660px) {
            overflow-y: scroll;
        }
    }
}

@media screen and (min-width: 1024px) {
    .my-card {
        grid-area: personal-card;
    }

    .site-nav {
        justify-content: space-between;
 
        ul {
            .home {
                margin: 0;
                margin-right: 10px;
            }
        }
    }

    .lg-nav {
        width: 100%;
        justify-content: space-between;
    }

    // .archive-nav {
    //     margin-right: 10px;
    // }

    .hide-lg {
        display: none;
    }

    .header {
        grid-area: showcase;
        margin-top: 1px;
        margin-bottom: 0px;
    }

    .project-grid {
        margin: 0;
    }

    .site-grid {
        display: grid; 
        grid-template-columns: 200px 1fr;
        grid-template-rows: 20px 25px 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: 
        "personal-card showcase"
        "personal-card site-nav"
        "personal-card projects";
    }

    .my-card {
        height: 100%;
    }

    .show-lg {
        display: flex;
        grid-area: site-nav;
        ul {
            justify-content: space-between;
        }
    }

}