body {
    // height: 100vh;
    width: 100vw;
    padding: .5rem;
    background-color: $col-background;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.about {
    color: black;
    margin: 20px 50px; 
    // text-align: center;
    //margin: 10px;
    p {
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 5px;
    }
}

.project-grid {
    display: grid; 
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-gap: 15px 15px;
}

.project {
    display: flex; 
    flex-direction: column;
    align-items: center;
    // border: 1px solid black; 
    // border-radius: 10px;
    padding: 20px 10px;
    position: relative;
    //overflow: hidden;
    color: white;
    line-height: 1.3rem;
}

.title {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    hr {
        width: 100%;
    }
}

.header {
    background-color: white;
    width: 100%;
    margin: 10px 0px 20px 0px;
}

.project-card {
    display: flex; 
    justify-content: center;
}

.outer-wrapper {
    //height: 100vh;
    border: 1px solid $col-outlines;
    // border-radius: 10px;
    padding: 5px;
}

.show-lg {
    display: none;
}

.site-nav {
    ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        font-size: .7rem;
        justify-content: space-between;
        li {
            padding: 7px; 
            // margin-right: 10px;
            border: 1px solid $col-text;
            // width: 50%;
            // background-color: rgba(250,176,255,1) ; //#E18AAA
            // box-shadow: -4px 4px 0 0px rgba(131,255,255,1) ;
            color: white;
            font-weight: 600;
            transition: background-color .5s ease-in, color .5s ease-in;
            &:hover {
                color: black;
                background-color: $col-text;
            }
        }
        .home {
            margin-right: 10px;
        }
    }
}

.my-card {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
    // max-width: 315px;
    background: linear-gradient(90deg, rgba(162,255,209,1) 0%, rgba(131,255,255,1) 50%, rgba(250,176,255,1) 100%), url('https://previews.dropbox.com/p/thumb/ABMjxDWoTXqcLBJ26dQAlZ7ZrzkYNT085HTsJuP6fKHkBw1SOhc23PA0C88awbDAs35oAXg8XopgrJDapQUP6M64WmLNkHJOW3eDCu0d1eAel8p5mGGXRakhoyglcrbd5iEs-20sybX3IS0JzeIhF09vF6nC5iVaPVTRsszxqvLVmO-0009F-Y7Jvv1WVElR5LmyuWe4Gjdf0OPPWvI9F1z4-Isy_Y9AqIggGnDnjmLGO7XL5GBgklNfd1KPiHrPc7UhTdG6XUVtS9-G9bdD_k_SycF1Pmbiyav3vOmFcv6FUux4d7lsnSpTMy18S8p3G8zjJxnHetsYZYcTcBNnTAUif0CW7yNt-NWtQDA2uTPQi4f-W9pEK_bCJPc1vMlqPwu_goUxciZVEUNUZ1SimuuBobe9w24UqHaLQJU_FJQjnwzzodPfRxhPtOS0ck0jPXw/p.jpeg?fv_content=true&size_mode=5');
    background-blend-mode: overlay;
    background-size: cover;
    //border-radius: 10px;
    padding: 10px;
    position: relative; 
}


.left {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}

.skills {
    color: white;
    p {
        font-size: .8rem;
        font-weight: 800;
    }
}

.skills-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    hr {
        color: white;
        width: 75%;
    }
}

.code-pen,
.github,
.twitter,
.linkedin {
    width: 35px;
    height: 35px;
    fill: rgba(255, 255, 255, .7);
    transition: fill .5s linear;
    &:hover {
        fill: rgba(255, 255, 255, 1);
    }
}

.github,
.twitter,
.linkedin {
    margin-top: 10px;
}

.upper-wrapper {
    display: flex;
    justify-content: space-between;
}

.my-links {
    display: flex; 
    flex-direction: column;
}

.name-title {
    writing-mode: vertical-rl;
    color: rgba(255, 255, 255, .9);
    h3 {
        font-size: .9rem;
    }
    h1 {
        font-size: 1.7rem;
    }
}


@media screen and (min-width: 768px) {
    .project-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 50% 50%;
        height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    .my-card {
        grid-area: personal-card;
    }

    .site-nav {
        justify-content: space-between;
 
        ul {
            //height: 100%;
            //align-items: center;
            .home {
                margin: 0;
                margin-right: 10px;
            }
        }
    }

    .lg-nav {
        width: 100%;
        justify-content: space-between;
    }

    .archive-nav {
        margin-right: 10px;
    }

    .hide-lg {
        display: none;
    }

    .header {
        grid-area: showcase;
        margin-top: 1px;
        margin-bottom: 0px;
    }
    
    .project-grid {
        grid-area: projects;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50% 50%;
        margin: 0;
        // grid-area: projects;
        // grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: 1fr 1fr;
        // margin: 0;
    }

    .showcase-two {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .showcase-three {
        grid-column-start: 3;
    }

    .showcase-four {
        grid-row-start: 2;
        grid-column-start: 4;
    }

    .site-grid {
        display: grid; 
        grid-template-columns: 200px 1fr;
        grid-template-rows: 20px 25px 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-areas: 
        "personal-card showcase"
        "personal-card site-nav"
        "personal-card projects";
    }

    .my-card {
        height: 100%;
    }

    .show-lg {
        display: flex;
        grid-area: site-nav;
        ul {
            justify-content: space-between;
        }
    }

}