@use 'sass:math';

$cube-dim: 100px; 

$cube-tranZ: math.div($cube-dim, 2);

$inner-cube-tranZ: math.div($cube-tranZ, 2);

.project-grid {
    // height: 100vh;
    perspective: 1500px;
    // background: #4B4E53;;
  }
  
  .project-grid * {
    // position: absolute;
    // top: 50%; left: 50%;
    transform-style: preserve-3d;
  }
  
  @keyframes cube-rotate{
    50% {
          transform: rotateX(360deg) rotateY(360deg);
    }
    100% {
      transform: rotateX(-20deg) rotateY(-30deg);
    }
  }
  
  .cube {
    display: flex;
    position: relative;
    width: $cube-dim;
    height: $cube-dim;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(-40deg);
    margin: 20px auto 40px;
    // transition: transform 10s linear;
    animation: cube-rotate 30s infinite;
    }
  
  .cube:hover {
    animation: cube-rotate 10s infinite;
  }
  
  .inner-face {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      border: 2px solid rgba(125, 249, 255, .5);
        background: rgba(125, 249, 255, 1) no-repeat url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
      background-size: cover;
      background-blend-mode: hard-light;
      opacity: 1;
      &:before {
        content:'';
        position: absolute;
        border: 2px solid #4B4E53;
        height: 100%; 
        width: 100%;
        top: -2px; 
        left: -2px;
        border-radius: 15%;
    }
  }
  
  .cube-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 2px solid rgba(125, 249, 255, 1);
      // background-color: rgba(255, 255, 255, 0.1);
      ///filter: blur(2px);
      &:before {
          content:'';
          position: absolute;
          border: 2px solid #4B4E53;
          height: 100%; 
          width: 100%;
          top: -2px; 
          left: -2px;
          border-radius: 15%;
      }
  }
  
  .inner-image {
    position: absolute;
    top: 0; 
   left: 0;
    bottom: 0; 
    right: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      background: no-repeat url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
  }
  
  
  .cube-front {
      transform: translateZ($cube-tranZ);
  }
  
  .cube-back {
      transform: rotateY(180deg) translateZ($cube-tranZ);
  }
  
  .cube-bottom {
      transform: rotateX(-90deg) translateZ($cube-tranZ);
  }
  
  .cube-top {
      transform: rotateX(90deg) translateZ($cube-tranZ);
  }
  
  .cube-left {
      transform: rotateY(-90deg) translateZ($cube-tranZ);
  }
  
  .cube-right {
      transform: rotateY(90deg) translateZ($cube-tranZ);

  }
  
  // inner
  .inner-front {
      transform: translateZ($inner-cube-tranZ);
  }
  
  .inner-back {
      transform: rotateY(180deg) translateZ($inner-cube-tranZ);
  }
  
  .inner-bottom {
      transform: rotateX(-90deg) translateZ($inner-cube-tranZ);
  }
  
  .inner-top {
      transform: rotateX(90deg) translateZ($inner-cube-tranZ);
  }
  
  .inner-left {
      transform: rotateY(-90deg) translateZ($inner-cube-tranZ);
  }
  
  .inner-right {
      transform: rotateY(90deg) translateZ($inner-cube-tranZ);
  }