.html-rating, 
.css-rating,
.js-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    p {
        flex-basis: 60%;
    }
}

.html-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
}

.html-bar-fill {
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 80%;
    border-radius: 20px;
    background-color: white;
}

.css-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
}

.css-bar-fill {
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 70%;
    border-radius: 20px;
    background-color: white;
}

.js-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: gray;
    border-radius: 20px;
}

.js-bar-fill {
    position: absolute; 
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    width: 50%;
    border-radius: 20px;
    background-color: white;
}